<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">
            <img id="navlogo" src="~/Content/img/navlogo-green.png" alt="microstore" width="122" height="45">
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul id="navigation" class="nav navbar-nav navbar-right text-center">
            <li><a href="#products">Products</a></li>
            <li><a href="#about">About</a></li>
            <!-- <li><a href="#testimonial">Testimonials</a></li> -->
            <li><a href="#orderform">Order</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="http://demo.angelostudio.net" class="external">External link</a></li>
            <li class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">UK</button>
                <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Deutsch</a></li>
                    <li><a href="#">France</a></li>
                    <li><a href="#">Slovak</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
