<div class="container">
    <header class="section-header text-center">
        <h2>Order Form</h2>
    </header>
    <form novalidate id="order-form" ng-submit="ordrCtrl.saveOrder()">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Unit Cost</th>
                            <th class="text-center">
                                <span class="hidden-xs">Quantity</span>
                                <span class="visible-xs">QNT</span>
                            </th>
                            <th class="text-center">Total</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="ordrCtrl.cartItems.length === 0">
                            <td colspan="5" style="text-align: center;"><strong>Your Cart is Empty</strong></td>
                        </tr>
                    <tr ng-repeat="cartItem in ordrCtrl.cartItems">
                            <td class="vert-align">{{cartItem.Title}}</td>
                            <td class="vert-align">{{ cartItem.Price }}€</td>
                            <td class="text-center">
                                <input type="number" ng-model="cartItem.Quantity" ng-required class="form-control form-control-inline" style="width: 70px !important; text-align: center;">
                            </td>
                        <td class="text-center vert-align">{{cartItem.Quantity * cartItem.Price}}€</td>
                        <td class="text-right vert-align" style="border-bottom: 1px solid #ddd;">
                            <span style="cursor: pointer;" title="Delete Item from Cart" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="ordrCtrl.removeItem($index)"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-md-6 contact-info">
                <p class="text-center"><strong>Payment Method</strong></p>
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input name="Card number" placeholder="Card number" class="form-control input-lg" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Code</label>
                            <input name="Code" placeholder="Code" class="form-control input-lg" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="contact-mail">month</label>
                            <div class=" controls">
                                <select class="form-control">
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="contact-mail">year</label>
                            <div class=" controls">
                                <select class="form-control">
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center"><strong>Information</strong></p>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input ng-model="ordrCtrl.orderModel.Customer.FName" name="First name" placeholder="First name" class="form-control input-lg" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input ng-model="ordrCtrl.orderModel.Customer.LName" name="Last name" placeholder="Last name" class="form-control input-lg" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input ng-model="ordrCtrl.orderModel.Customer.Email" name="email" placeholder="Your email" class="form-control input-lg" type="email">
                </div>
                <p class="text-center"><strong>If you have Coupon code</strong></p>
                <div class="input-group ">
                    <input placeholder="Coupon code" class="form-control input-lg" type="text">
                    <span class="input-group-btn">
                        <button name="submit" type="submit" class="btn btn-store">Check!</button>
                    </span>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <p class="text-center"><strong>Delivery address</strong></p>
                <div class="form-group">
                    <label class="control-label">Street</label>
                    <input ng-model="ordrCtrl.orderModel.Customer.Address" name="street" placeholder="Street address" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">City</label>
                    <input ng-model="ordrCtrl.orderModel.Customer.City" name="city" placeholder="City" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <input ng-model="ordrCtrl.orderModel.Customer.Country" name="Country" placeholder="Country" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">postcode</label>
                    <input ng-model="ordrCtrl.orderModel.Customer.Zip" name="postcode" placeholder="Post code" class="form-control" type="text">
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center">Order sumary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Shipping cost:</td>
                            <td></td>
                            <td class="text-right">Free</td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td></td>
                            <td id="total" class="text-right">{{ ordrCtrl.total() }}€</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button name="submit" type="submit" class="btn btn-store btn-block">Order Product</button>
                </p>
                <input type="hidden" name="submitted" id="submitted" value="true">
            </div>
        </div>
    </form>
</div>