<div class="container">
    <header class="section-header text-center anima fade-up">
        <h2>Products</h2>
    </header>
</div>
<div class="container">
    <div id="projects-container" class="row">
        <article class="design product col-xs-12 col-sm-6 col-md-4 anima fade-up" ng-repeat="item in prodCtrl.items">
            <div class="img-box" ng-click="prodCtrl.showInModal(item)">
                <div class="hover-mask2"></div>
                <span class="product-icon icon-eye"></span>
                <img class="img-responsive project-image" src="{{item.Image}}" alt="">
            </div>
            <div class="product-info col-md-12">
                <p class="project-price" ng-model="item.Price">{{item.Price}}€</p>
                <span class="add-to-cart icon-cart" ng-click="prodCtrl.addItems(item)" title="Add to Cart"></span>
                <div>
                    <h4 class="project-title">{{item.Title}}</h4>
                </div>
            </div>
            <div class="sr-only project-description" data-oldprice="${{item.oldprice}}" data-images="Content/img/01.jpg,Content/img/02.jpg,Content/img/03.jpg,Content/img/04.jpg,Content/img/05.jpg">
                <p>{{item.Description}}</p>
            </div>
        </article>
    </div>
</div>
<div id="project-modal" class="modal " style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" href="#" data-dismiss="modal"><i class="icon-close"></i></a>
                <div id="project-slider" class="owl-carousel owl-theme" data-navigation="true" data-dots="true">
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div id="project-sidebar" class="col-md-4 ">
                            <h2 id="sdbr-title">{{prodCtrl.selectedItem.Title}}</h2>
                            <div>
                                <div id="sdbr-price">{{prodCtrl.selectedItem.Price}}€</div>
                                @*<div id="sdbr-oldprice">500</div>*@
                            </div>
                        </div>
                        <div id="project-content" class="col-md-8 ">
                            <p>{{prodCtrl.selectedItem.Description}}</p>
                            <a id="btn-order" ng-click="prodCtrl.addItems(prodCtrl.selectedItem)" class="btn btn-store btn-right" href="#">Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
