<div class="container">

    <div class="testimonial">
        <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example" data-interval="10000">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <h1>This is one of the most beautiful site I have ever seen in my life. <br>Your site is great!</h1>
                    <br>
                    <h3>Brad Cooper</h3>
                </div>
                <div class="item">
                    <h1>The Difference between ordinary and extraordinary <br>is just that little extra.</h1>
                    <br>
                    <h3>Albert Einstein</h3>
                </div>
                <div class="item">
                    <h1>Hugely thought out! <br>Trying it now.I like the use of shape and background image!</h1>
                    <br>
                    <h3>John Doe</h3>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
    <div class="overlay-bg"></div>
</div>